            <!-- rts-footer-area one -->
            <div class="rts-footer-area-one pt--50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="grid-lines-wrapper">
                                <div class="grid-lines">
                                    <div class="grid-line"></div>
                                    <div class="grid-line"></div>
                                    <div class="grid-line"></div>
                                    <div class="grid-line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row rts-section-gapBottom">
                        <div class="col-lg-12">
                            <div class="footer-main-wrapper-one">
                                <!-- footer left area start -->
                                <div class="footer-left-area">
                                    <a href="../index.html" class="logo-footer">
                                        <img class="logo-1" src="../assets/images/logo/intelli1.png" alt="Footer Logo">
                                        <img class="logo-2" src="../assets/images/logo/intelli1.png" alt="Footer Logo">
                                    </a>
                                    <p class="disc">
                                        Driving business transformation through intelligent AI and data-driven
                                        solutions.
                                    </p>
                                    <div class="rts-social-area-one">
                                        <ul>
                                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- footer left area end -->
                                <!-- footer single wized start -->
                                <div class="footer-single-wized-start">
                                    <h5 class="title">Quick Links</h5>
                                    <ul class="footer-nav">
                                        <li><a href="#">Industries</a></li>
                                        <li><a href="../../services.html">Services</a></li>
                                        <li><a href="#">Insights</a></li>
                                        <li><a href="#">Company</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <!-- footer single wized end -->
                                <!-- footer single wized start -->
                                <div class="footer-single-wized-start">
                                    <h5 class="title">Contact Info</h5>
                                    <div class="mail-contact-area">
                                        <div class="single-con-info mb--40">
                                            <a href="#">
                                                Lok Raunak Tower, <br> Marol, Mumbai
                                            </a>
                                        </div>
                                        <div class="single-con-info mail">
                                            <a href="mailto:contact@intellisolutions.com">
                                                contact@intellisolutions.com
                                            </a>
                                        </div>
                                        <div class="single-con-info">
                                            <a href="tel:+919920662352">
                                                +91 9920662352
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer single wized end -->
                                <!-- footer single wized start -->
                                <div class="footer-single-wized-start">
                                    <h5 class="title">Subscribe Us</h5>
                                    <div class="subscribtion-area">
                                        <p class="disc">
                                            Subscribe to our newsletter for the latest insights on AI and data.
                                        </p>
                                        <form action="#" class="subscribtion-input">
                                            <input id="email" type="email" placeholder="Enter your email..." required>
                                            <label for="email"><i class="fa-regular fa-envelope"></i></label>
                                            <button type="submit" class="rts-btn btn-dark">subscribe</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- footer single wized end -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-area text-center">
                                <div class="left">
                                    <p>2025 © <a href="#">IntelliSolutions</a>. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- rts-footer-area one end -->