<!-- header area start -->
    <header class="header-area header-one header--sticky">
        <div class="header-container-one">
            <div class="header-wrapper">
                <a href="../index.html" class="logo">
                    <img src="../assets/images/logo/intelli1.png" alt="logo">
                </a>
                <div class="header-right">

                    <nav class="nav-area drop-down-rts">
                        <ul class="navbar-nav-1">

                            <!-- Industries Dropdown -->
                            <li class="menu-item main-nav-on menu-item-has-children">
                                <a href="javascript:void(0);"><span class="rolling-text">Industries</span></a>
                                <ul class="sub-menu" style="display: block;">
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Financial
                                            Services</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Healthcare</a>
                                    </li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Technology</a>
                                    </li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Retail</a></li>
                                </ul>
                            </li>

                            <!-- Services Dropdown -->
                            <li class="menu-item main-nav-on menu-item-has-children">
                                <a href="javascript:void(0);"><span class="rolling-text">Services</span></a>
                                <ul class="sub-menu" style="display: block;">
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="../../services/ai-adoption.html">AI
                                            Adoption & Governance</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="../../services/data-platform.html">Data Platform
                                            Optimization</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="../../services/analytics-and-bi-modernization.html">Analytics & BI
                                            Modernization</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="../../services/cloud-finops.html">Cloud FinOps</a>
                                    </li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="../../services/gen-ai.html">GenAI
                                            Assistants</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="../../services/data-quality-governance.html">Data Quality &
                                            Governance</a></li>
                                </ul>
                            </li>

                            <!-- Insights Dropdown -->
                            <li class="menu-item main-nav-on menu-item-has-children">
                                <a href="javascript:void(0);"><span class="rolling-text">Insights</span></a>
                                <ul class="sub-menu" style="display: block;">
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Blog</a>
                                    </li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Case Studies</a>
                                    </li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Whitepapers</a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Company Dropdown -->
                            <li class="menu-item main-nav-on menu-item-has-children">
                                <a href="javascript:void(0);"><span class="rolling-text">Company</span></a>
                                <ul class="sub-menu" style="display: block;">
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">About
                                            Us</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Careers</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="#">Leadership
                                            Team</a></li>
                                </ul>
                            </li>

                            <!-- Contact Link -->
                            <li class="menu-item main-nav-on">
                                <a class="menu-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="menu-btn">

                        <div class="rts-offcanvas-wrapper">
                            <div class="container-menu">
                                <div class="action-menu">
                                    <div class="close-event"></div>
                                    <div class="open-event">
                                        <div class="burger">
                                            <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                class="icon-close" data-v-649bbaab="">
                                                <line x1="13.788" y1="1.28816" x2="1.06011" y2="14.0161"
                                                    stroke="currentColor" stroke-width="1.2"></line>
                                                <line x1="1.06049" y1="1.43963" x2="13.7884" y2="14.1675"
                                                    stroke="currentColor" stroke-width="1.2"></line>
                                            </svg>
                                            <svg viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                class="icon-burger" data-v-649bbaab="">
                                                <line x1="18" y1="0.6" y2="0.6" stroke="currentColor" stroke-width="1.2"
                                                    data-v-649bbaab=""></line>
                                                <line x1="18" y1="5.7167" y2="5.7167" stroke="currentColor"
                                                    stroke-width="1.2" data-v-649bbaab=""></line>
                                                <line x1="18" y1="10.8334" y2="10.8334" stroke="currentColor"
                                                    stroke-width="1.2" data-v-649bbaab=""></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rts-fs-menu">
                                <div class="rts-fs-container row">
                                    <div class="rts-fs--nav col-12 col-md-6">
                                        <ul id="primary-menu" class="navbar-nav-button">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Industries</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-home current-menu-item page_item"><a
                                                            href="#">Financial Services</a></li>
                                                    <li class="menu-item"><a href="#">Healthcare</a>
                                                    </li>
                                                    <li class="menu-item"><a href="#">Technology</a>
                                                    </li>
                                                    <li class="menu-item"><a href="#">Retail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Services</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-home current-menu-item page_item"><a
                                                            href="#">Consulting</a></li>
                                                    <li class="menu-item"><a href="#">Development</a></li>
                                                    <li class="menu-item"><a href="#">Marketing</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Insights</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-home current-menu-item page_item"><a
                                                            href="#">Blog</a></li>
                                                    <li class="menu-item"><a href="#">Case Studies</a>
                                                    </li>
                                                    <li class="menu-item"><a href="#">Whitepapers</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Company</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-home current-menu-item page_item"><a
                                                            href="#">About Us</a></li>
                                                    <li class="menu-item"><a href="#">Careers</a></li>
                                                    <li class="menu-item"><a href="#">Leadership Team</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="rts-fs--contacts col-12 col-md-6">
                                        <div class="contact-inner">
                                            <div class="contact-information">
                                                <h2 class="heading-title">Our Office</h2>
                                                <div class="address">
                                                    <ul>
                                                        <li>
                                                            <p>Lok Raunak Tower, <br> Marol, Mumbai</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="contact-information">
                                                <h2 class="heading-title">Get In Touch</h2>
                                                <div class="contact">
                                                    <ul>
                                                        <li><a href="mailto:contact@intellisolutions.com"
                                                                class="mail">contact@intellisolutions.com</a></li>
                                                        <li><a href="tel:+919920662352" class="number">+91
                                                                9920662352</a></li>
                                                    </ul>
                                                </div>
                                                <div class="rts-social-area-one">
                                                    <ul>
                                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                                        <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- header area end -->